<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Joint</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/assets/img/burger.png" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">Eat-Da-Burger</h3>
		<p>Enter a burger you want to eat!</p>
    </div>
</div>

<form class="create-form">
    <div class="form-group">
        <input type="text" id="inputBurger">
    </div>
    <button type="submit" class="btn btn-primary">Nom nom nom</button>
	
</form>
	{{{ body }}}
</body>

</html>