
<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        <p>{{burger_name}} <button class = "status" data-id = "{{id}}" data-newstatus="1">
            Devour! </button></p>
    </li>

    {{/unless}}
    {{/each}}
</ol> 

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        <p>{{burger_name}}</p>
    </li>
    {{/if}}
    {{/each}}
    
    </ul>
    </div>



